In [150]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [151]:
df_weather = pd.read_csv("../Data/weather_daily_darksky.csv")

In [152]:
df_daily = pd.read_csv("../Data/daily_dataset.csv")

In [153]:
df_weather.dtypes

temperatureMax                 float64
temperatureMaxTime              object
windBearing                      int64
icon                            object
dewPoint                       float64
temperatureMinTime              object
cloudCover                     float64
windSpeed                      float64
pressure                       float64
apparentTemperatureMinTime      object
apparentTemperatureHigh        float64
precipType                      object
visibility                     float64
humidity                       float64
apparentTemperatureHighTime     object
apparentTemperatureLow         float64
apparentTemperatureMax         float64
uvIndex                        float64
time                            object
sunsetTime                      object
temperatureLow                 float64
temperatureMin                 float64
temperatureHigh                float64
sunriseTime                     object
temperatureHighTime             object
uvIndexTime                     object
summary                         object
temperatureLowTime              object
apparentTemperatureMin         float64
apparentTemperatureMaxTime      object
apparentTemperatureLowTime      object
moonPhase                      float64
dtype: object

In [154]:
df_weather.time = pd.to_datetime(df_weather.time).dt.date
df_weather['time'] = pd.to_datetime(df_weather['time'])
df_weather = df_weather.sort_values(by = ['time'])
df_weather['time']

13    2011-11-01
60    2011-11-02
34    2011-11-03
31    2011-11-04
46    2011-11-05
         ...
874   2014-03-27
876   2014-03-28
867   2014-03-29
844   2014-03-30
830   2014-03-30
Name: time, Length: 882, dtype: datetime64[ns]

In [155]:
df_daily.day = pd.to_datetime(df_daily.day,format = '%Y/%m/%d')
df_daily = df_daily.sort_values(by = ['day'])
df_daily.day

2124392   2011-11-23
1913391   2011-11-23
867863    2011-11-23
2319064   2011-11-23
1727216   2011-11-23
             ...
1181682   2014-02-28
1181087   2014-02-28
1180492   2014-02-28
1184884   2014-02-28
3510432   2014-02-28
Name: day, Length: 3510433, dtype: datetime64[ns]

In [156]:
df_merged = df_weather.merge(df_daily, left_on='time', right_on='day')

In [157]:
df_merged.columns

Index(['temperatureMax', 'temperatureMaxTime', 'windBearing', 'icon',
       'dewPoint', 'temperatureMinTime', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureMinTime', 'apparentTemperatureHigh', 'precipType',
       'visibility', 'humidity', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex', 'time',
       'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'sunriseTime', 'temperatureHighTime', 'uvIndexTime', 'summary',
       'temperatureLowTime', 'apparentTemperatureMin',
       'apparentTemperatureMaxTime', 'apparentTemperatureLowTime', 'moonPhase',
       'LCLid', 'day', 'energy_median', 'energy_mean', 'energy_max',
       'energy_count', 'energy_std', 'energy_sum', 'energy_min'],
      dtype='object')

In [158]:
df_merged['sunsetTime'] = pd.to_datetime(df_merged['sunsetTime'])
df_merged['sunriseTime'] = pd.to_datetime(df_merged['sunriseTime'])

In [159]:
df_merged['dayTime'] = df_merged['sunsetTime'] - df_merged['sunriseTime']
df_merged['dayTime'] = df_merged['dayTime'] / pd.offsets.Hour()

In [160]:
df_merged = df_merged.drop(columns = ['temperatureMaxTime',
                                      'windBearing',
                                      'dewPoint',
                                      'temperatureMinTime',
                                      'windSpeed',
                                      'pressure',
                                      'apparentTemperatureMinTime', 
                                      'apparentTemperatureHigh', 
                                      'precipType',
                                      'apparentTemperatureHighTime',
                                      'apparentTemperatureLow',
                                      'apparentTemperatureMax',
                                      'uvIndex', 
                                      'time',
                                      'temperatureHighTime',
                                      'uvIndexTime', 
                                      'summary',
                                      'temperatureLowTime',
                                      'apparentTemperatureMin',
                                      'apparentTemperatureMaxTime', 
                                      'apparentTemperatureLowTime',
                                      'humidity',
                                      'sunsetTime',
                                      'sunriseTime',
                                      'temperatureLow',
                                      'temperatureHigh',
                                     ])

In [161]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3506318 entries, 0 to 3506317
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   temperatureMax  float64
 1   icon            object
 2   cloudCover      float64
 3   visibility      float64
 4   temperatureMin  float64
 5   moonPhase       float64
 6   LCLid           object
 7   day             datetime64[ns]
 8   energy_median   float64
 9   energy_mean     float64
 10  energy_max      float64
 11  energy_count    int64
 12  energy_std      float64
 13  energy_sum      float64
 14  energy_min      float64
 15  dayTime         float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(2)
memory usage: 454.8+ MB

In [162]:
df_merged.columns

Index(['temperatureMax', 'icon', 'cloudCover', 'visibility', 'temperatureMin',
       'moonPhase', 'LCLid', 'day', 'energy_median', 'energy_mean',
       'energy_max', 'energy_count', 'energy_std', 'energy_sum', 'energy_min',
       'dayTime'],
      dtype='object')

In [163]:
df_merged = df_merged[['day', 'LCLid', 'energy_sum', 'energy_mean','energy_max', 'energy_min',
                       'energy_std', 'energy_count', 'dayTime', 'visibility', 'temperatureMin',
                       'temperatureMax','icon', 'cloudCover', 'moonPhase',  
                        ]]

In [164]:
df_merged.isnull().sum()

day                   0
LCLid                 0
energy_sum           30
energy_mean          30
energy_max           30
energy_min           30
energy_std        11334
energy_count          0
dayTime               0
visibility            0
temperatureMin        0
temperatureMax        0
icon                  0
cloudCover         5099
moonPhase             0
dtype: int64

In [165]:
df_merged.loc[df_merged.cloudCover.isnull(), ["day", "cloudCover"]]

               day  cloudCover
3208219 2014-01-01         NaN
3208220 2014-01-01         NaN
3208221 2014-01-01         NaN
3208222 2014-01-01         NaN
3208223 2014-01-01         NaN
...            ...         ...
3213313 2014-01-01         NaN
3213314 2014-01-01         NaN
3213315 2014-01-01         NaN
3213316 2014-01-01         NaN
3213317 2014-01-01         NaN

[5099 rows x 2 columns]

In [166]:
df_merged.loc[df_merged.cloudCover.isnull(), ["day", "cloudCover"]].day.value_counts()

2014-01-01    5099
Name: day, dtype: int64

In [167]:
df_merged.to_csv("../Data/daily_weather_merged.csv")